body{
  background-color: #E7E7E7;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.2);
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.card-title {
    font-size: 18px;
    font-family: Titillium;
    margin-top: .75rem;
}
.card-description{
  color: darkgrey;
  font-size: 12px;
  font-family: Open-Sans;
}
.card-category{
  background-color: white;
  height: 100px;
}
.card-date{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CCCC;
  color: white;
  padding: 0.8em;
  width: 89px;
  height: 100px;
  span {
    display: block;
    text-align: center;
  }
}
.day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(black, 0.18);
}
.month {
  text-transform: uppercase;
}
.mouth,.year {
  font-size: 12px;
}
.card-info{
  height: 200px;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3A3A3A;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 10px;
}

button:hover, a:hover {
    opacity: 0.9;
}

/* details page */
.details {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.2);
    width: 500px;
    height:auto;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 50px;
    background-color: #FFFF;
}
.details-date-card{
  background-color: #778899;
  color: white;
  padding: 0.8em;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(black, 0.18);
  font-weight: 400;
}
.details-card{
  font-family: Titillium;
  font-size: 18px;
  background-color: #FFFF;
  margin-top: 18px;
}
.details-card h3{
  font-size: 24px;

}
.details-description{
  font-family: Open-sens;
  font-size: 14px;
  padding: 3px;
  margin: 5px;
}
.details-adresse {
  font-family: Open-sens;
  font-size: 14px;
  padding: 3px;
  margin: 5px;
}
