<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <title>Shamengo</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Calender App</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'calender/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'calender/css/style.css' %}" />
</head>
<body>
	<div>
      <nav class="navbar navbar-white bg-white">
       <img src="{% static 'img/logo_shamengo.png' %}" alt="logo.jpg" height="50"/>
       <p>Bienvenue sur le site des évènements Shamengo Bordeaux</p>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button type="button" class="btn btn-light"> <a href= "/admin"> Log In</button></a>
          </li>
        </ul>
      </nav>
    </div>

    <div>

	{% block content %}

	{% endblock %}
</body>
</html>


