<div class="calender_entry col-xs-6 col-sm-4">
  <div class="card">

    <div class="card-category" style="background-color:{{entry.Theme.color}};">
      Thématique : {{ entry.Theme.name }}<hr/>
      Catégorie : {{ entry.category.name }}

      <div class="card-date">
          <span class="day">{{ entry.date_start|date:"d"}}</span>
          <span class="month">{{ entry.date_start|date:"M"}}</span>
          <span class="year">{{ entry.date_start|date:"Y"}}</span>

      </div>
    </div>
    <div class="card-info">
      <h5 class="card-title">{{ entry.name }}</h5>
      <p class="card-description">{{ entry.description|truncatechars:100}} </p>
      <p><button onclick="window.location='{% url 'details' pk=entry.id %}'" class="btn-treehouse">Détails</button></p>
    </div>
  </div>
</div>
