<div class="calendar_entry col-xs-12 col-sm-6">
  <div class="card">
    <div class="card-category" style="background-color:{{entry.category.color}};">
      <div class="card-date">
          <span class="day">{{ entry.date|date:"d"}}</span>
          <span class="month">{{ entry.date|date:"M"}}</span>
          <span class="year">{{ entry.date|date:"Y"}}</span>
      </div>
    </div>
    <div class="card-info">
      <h2 class="card-title">{{ entry.name }}</h2>
      <p class="card-description">{{ entry.description|truncatechars:200}}</p>
      <p><button onclick="window.location='{% url 'details' pk=entry.id %}'" class="btn-treehouse">More info</button></p>
    </div>
  </div>
</div>
