{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% static "vendor/jquery/dist/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "vendor/jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
        {% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
    </head>

    <body>

    <div>
      <nav class="navbar navbar-white bg-white">
       <img src="{% static 'img/logo_shamengo.png' %}" alt="logo.jpg" height="50"/>
       <h1>Bienvenue sur le site des évènements Shamengo Bordeaux</h1>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button type="button" class="btn btn-light"> Sign Up</button>
          <li class="nav-item">
            <button type="button" class="btn btn-light"> <a href= "/admin"> Log In</button></a>
          </li>
        </ul>
      </nav>
    </div>

    <p style="clear:both">

        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}
            {% endblock %}

        </div>

        <div id="footer">{% block footer %}{% endblock %}</div>

    </body>
</html>



